<footer id="footer" class="text-center medium-text-left">
    <div class="container">
        <div class="row">
            <div class="columns small-12 medium-4">
                <nav class="holder" id="footer-nav" aria-label="footer-navigation">
                    <h3>About Us</h3>
                    <ul class="footer-nav no-bullet">
                        <li><a href="#" accesskey="2">News</a></li>
                        <li><a href="#">Procurement</a></li>
                        <li><a href="#">Consultations</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#" accesskey="9">Contact Us</a></li>
                        <li><a href="#">More About Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="columns small-12 medium-4">
                <nav class="holder" aria-label="footer-navigation">
                    <h3>OUR Science</h3>
                    <ul class="footer-nav no-bullet">
                        <li><a href="https://hub.jncc.gov.uk">Resource Hub</a></li>
                        <li><a href="https://mhc.jncc.gov.uk">MHC</a></li>
                        <li><a href="https://sac.jncc.gov.uk">SAC</a></li>
                    </ul>
                </nav>
            </div>
            <div class="columns small-12 medium-4">
                <nav class="holder" aria-label="footer-navigation">
                    <h3>Our Services</h3>
                    <ul class="footer-nav no-bullet">
                        <li><a href="#">Valuing the Environment</a></li>
                        <li><a href="#">Advice</a></li>
                        <li><a href="#">Monitoring</a></li>
                        <li><a href="#">Pressures</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <ul class="social-media no-bullet">
            <li><a href="#"><span class="show-for-sr">Facebook</span><i class="icon-facebook"></i></a></li>
            <li><a href="#"><span class="show-for-sr">Twitter</span><i class="icon-twitter"></i></a></li>
            <li><a href="#"><span class="show-for-sr">Youtube</span><i class="icon-youtube"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <ul class="footer-bottom-list no-bullet">
                <li><a href="#">Join Nature Conservation Commitee</a></li>
                <li>Press Office<a href="tel:01733868888"> 01733 868888</a></li>
            </ul>
            <ul class="footer-bottom-list no-bullet info">
                <li><a href="#" accesskey="8">Terms of use</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Cookie policy</a></li>
                <li><a href="#">Accessability</a></li>
            </ul>
        </div>
    </div>
</footer>