@model JNCC.Microsite.SAC.Models.Website.Page
<nav class="top-bar nav" id="menu" data-animate="hinge-in-from-top spin-out" aria-label="main-navigation" @{if (!Model.HeroImage) {<text>style="position: relative;"</text>}}>
    <div class="container">
        <ul class="vertical medium-horizontal menu dropdown">
            <li><a href="https://jncc.gov.uk"><i class="fas fa-chevron-left fa-fw"></i> Main site</a></li>
            <li class=@(Model.CurrentSection == "Search" ? "active" : "")><a href="/"><i class="fas fa-database fa-fw"></i> Special Areas of Conservation</a></li>
            <li class=@(Model.CurrentSection == "Site" ? "active" : "")><a href="/site/">Sites</a></li>
            <li class=@(Model.CurrentSection == "Species" ? "active" : "")><a href="/species/">Species</a></li>
            <li class=@(Model.CurrentSection == "Habitat" ? "active" : "")><a href="/habitat/">Habitats</a></li>
        </ul>
    </div>
</nav>