@model string
<nav class="top-bar nav" id="menu" data-animate="hinge-in-from-top spin-out" aria-label="main-navigation">
    <div class="container">
        <ul class="vertical medium-horizontal menu dropdown">
            <li><a href="http://jncc.gov.uk"><i class="fas fa-chevron-left fa-fw"></i> Main site</a></li>
            <li class=@(Model == "Search" ? "active" : "")><a href="/"><i class="fas fa-database fa-fw"></i> Special Areas of Conservation</a></li>
            <li class=@(Model == "Sites" ? "active" : "")><a href="/site">Sites</a></li>
            <li class=@(Model == "Species" ? "active" : "")><a href="/species">Species</a></li>
            <li class=@(Model == "Habitats" ? "active" : "")><a href="/habitat">Habitats</a></li>
        </ul>
    </div>
</nav>