@model string
<nav class="top-bar nav" id="menu" data-animate="hinge-in-from-top spin-out" aria-label="main-navigation">
    <div class="container">
        <ul class="vertical medium-horizontal menu dropdown">
            <li class=@(Model == "Search" ? "active" : "")><a href="#">Search</a></li>
            <li class=@(Model == "Sites" ? "active" : "")><a href="#">Sites</a></li>
            <li class=@(Model == "Species" ? "active" : "")><a href="#">Species</a></li>
            <li class=@(Model == "Habitats" ? "active" : "")><a href="#">Habitats</a></li>
        </ul>
    </div>
</nav>