
.section {
    margin-bottom: 2rem;
}
.section-small {
    margin-bottom: 1rem;
}
.space-right {
    margin-right: 0.3rem;
}
.little-header {
    font-weight: bold;
}
.extra-info {
    font-size: 70%;
    margin-left: 0.4rem;
    color: #767676;
}
.thing-badge {
    background-color: rgb(33, 136, 56);
    color: #fefefe;
    font-size: 50%;
    font-weight: bold;
    padding: 0.3rem 0.9rem;
    margin-left: 0.4rem;
    vertical-align: middle;
    border-radius: 0.3rem;
}