
.section {
    margin-bottom: 2rem;
}
.section-small {
    margin-bottom: 1rem;
}
.space-right {
    margin-bottom: 1rem;
}
.little-header {
    font-size: 120%;
}

.thing-badge {
    background-color: #666262;
    color: #fefefe;
    font-size: 50%;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    margin-left: 0.5rem;
    vertical-align: middle;
    border-radius: 0.2rem;
}