@model JNCC.Microsite.SAC.Models.Data.InterestFeatureOccurrence
@using JNCC.Microsite.SAC.Website.Helpers

<div class="row">
    <div class="cell large-6 small-12"><a href=@(SiteHelpers.GetSiteURLFromCode(Model.SiteCode))>@(Model.SiteName)</a></div>
    <div class="cell large-6 small-12"><b>@(Model.LocalAuthority)</b></div>
</div>