@model JNCC.Microsite.SAC.Models.Data.InterestFeatureOccurrence
@using JNCC.Microsite.SAC.Helpers.Website

<li>
    <a href=@(SiteHelpers.GetSiteURLFromCode(Model.SiteCode)) class="space-right">@(Model.SiteName)</a>
    <b>@(Model.LocalAuthority)</b>
</li>
