@model JNCC.Microsite.SAC.Models.Website.InterestFeatureListPage
@using JNCC.Microsite.SAC.Helpers.Website
@{
    Layout = "Shared/_Layout.cshtml";
}

<h1 class="section">@(Model.Type)</h1>


@foreach (var section in Model.InterestFeatureSections)
{
    @(Html.Raw(String.Format("<table><tr><th class=\"cell small-9\">{0}</th><th class=\"cell small-3\">No. of SACs</p></th></tr>", section.SectionTitle)));
    foreach (var feature in section.InterestFeatures) {
        @(Html.Raw(
            String.Format(
                "<tr><td><a href=\"{0}\">{1}</a> {2}</td><td class=\"flex-container align-center\">{3}</td></tr>", 
                InterestFeatureHelpers.GetFeatureUrl(feature.Code), 
                InterestFeatureHelpers.GetPlainIntegerCode(feature.Code), 
                InterestFeatureHelpers.IsHabitatCode(feature.Code) ? feature.Name : String.Format("{0} [{1}]", feature.LayTitle, feature.Name), 
                feature.Occurrences.Count
            )
        ));
    }
    @(Html.Raw("</table>"));
}