@model JNCC.Microsite.SAC.Models.Website.Search
@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="visual-section" style="background-image: url(/images/h1-greyseal-graemeduncan.jpg);">
    <div class="container">
        <h1 class="show-for-medium show-for-large">SAC site list and standard data forms</h1>
        <div class="grid-x large-12 small-12">
            <div class="grid-x large-12 small-12 callout secondary topcallout">
                <p><b>List all SACs:</b> <a href="/site/england">England</a> | <a href="/site/northern-ireland">Northern Ireland</a> | <a href="/site/scotland">Scotland</a> | <a href="/site/wales">Wales</a> | <a href="/site/offshore">Offshore</a> | <a href="/site/">Full UK List</a></p>
            </div>
            <div class="grid-x large-12 small-12 callout secondary topcallout">
                <p>List all <a href="/habitat/">Habitat</a> or  <a href="/species/">Species</a> interest features</p>
            </div>
            <script type="text/javascript">
                function goToSite(selected) {
                    if (selected.value !== "") {
                        window.location.assign("/site/" + selected.value);
                    }
                }
            </script>
            <div class="grid-x large-12 small-12 callout secondary topcallout">
                    <form name="sites" class="grid-x large-12">
                        <select name="EUCode" class="column small-12 large-8 topcallout">
                            <option selected="" value="">Choose an SAC from the drop down list</option>
                            @foreach ((string EUCode, string Name) in Model.Sites)
                            {               
                                <option value=@(EUCode)>@(Name)</option>
                            }
                        </select>
                        <a href="#" class="button primary column small-12 large-4 end" onclick="goToSite(document.sites.EUCode)">View Site</a>
                    </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <div>
            <br />
            <p></p>
            <p>
                Special Areas of Conservation (SACs) are protected areas in the UK, designated under:
            </p>
            <ul>
                <li>
                    the Conservation of Habitats and Species Regulations 2017 (as amended) in England and Wales (including the adjacent territorial sea) and to a limited extent in Scotland (reserved matters) and Northern Ireland (excepted matters),
                </li>
                <li>
                    the Conservation (Natural Habitats &c.) Regulations 1994 (as amended) in Scotland,
                </li>
                <li>
                    the Conservation (Natural Habitats, &c) Regulations (Northern Ireland) 1995 (as amended) in Northern Ireland, and
                </li>
                <li>
                    the Conservation of Offshore Marine Habitats and Species Regulations 2017 in the UK offshore area.
                </li>
            </ul>
            <p>
                These regulations require establishment of a network of important high-quality conservation sites 
                that will make a significant contribution to conserving the habitats and species identified in 
                Annexes I and II, respectively, of 
                <a href="http://ec.europa.eu/environment/nature/legislation/habitatsdirective/index_en.htm">
                    European Council Directive 92/43/EEC
                </a>
                on the conservation of natural habitats and of wild fauna and flora, known as the Habitats Directive.
            </p>
            <p>
                JNCC maintains site information for all SACs in the UK. Available here are the UK lists of SACs with links to each site’s standard data form, along with details of the habitat and species features which occur in the UK and for which one or more SAC is designated.
            </p>
            <p>
                The UK’s statutory nature conservation bodies (SNCBs) are responsible for setting conservation objectives and assessing condition of the habitats and species features of Special Areas of Conservation (SACs) and Special Protection Areas (SPAs). For more information, visit the 
                <a href="https://jncc.gov.uk/our-work/sac-and-spa-condition-and-conservation-objectives/">
                    Site condition, citations and conservation objectives webpage.
                </a>
            </p>
            <p>
                For more information on Special Areas of Conservation, including the background to SAC selection, visit our
                <a href="https://jncc.gov.uk/our-work/special-areas-of-conservation-overview/">
                    SAC overview Special Areas of Conservation webpage.
                </a>
            </p>
            <br />
        </div>        
    </div>
</div>