@using JNCC.Microsite.SAC.Helpers.Website;
@{
    Layout = "../Shared/_Layout.cshtml";
}

<div>
    <h1>Natura 2000 in Gibraltar</h1>
    <p>European Directives, including the Habitats and Birds Directives, apply to the UK Overseas Territory of Gibraltar. Gibraltar lies in the Mediterranean biogeographic region. A report on the implementation of the Habitats Directive in Gibraltar prepared by the Gibraltar Ornithological and Natural History Society identified Annex I habitats and Annex II species and which occur within Gibraltar (GONHS 1994).</p>
    <p>Although Natura 2000 sites in Gibraltar are submitted to the European Commission via Defra in the same way as sites in the metropolitan UK, the Government of Gibraltar is responsible for overseeing the selection and management of sites within its territory. Further information is available from the Government of Gibraltar.</p>
    <p >Gibraltar currently has two sites within the Natura 2000 network, covering a total a area of 5687 ha. Both of these sites have been a) classified as a Special Protection Area and b) designated as a Special Area of Conservation.</p>
    <p>The latest SDFs can be downloaded from here:</p>
    <ul>
        <li>UKGIB0001 - <a title="Link: Rock of Gibraltar Natura 2000 form (PDF, 25 kb)" href="@(SiteHelpers.GetSitePDFResourceURL("UKGIB0001"))">Rock of Gibraltar</a>&nbsp;(PDF, 25 kb) Last updated in Tranche 50 (December 2015)</li>
        <li>UKGIB0002 - <a title="Link: Southern waters of Gibraltar Natura 2000 form (PDF, 23 kb)" href="@(SiteHelpers.GetSitePDFResourceURL("UKGIB0002"))">Southern Waters of Gibraltar</a> (PDF, 1.1 mb); Last updated in Tranche 53 (October 2016)</li>
    </ul>
    <p>More information about latest changes on Special Areas of Conservation (SACs) in the United Kingdom is available from the <a title="Link: SACs latest changes" href="https://jncc.gov.uk/our-work/special-areas-of-conservation-sacs/#latest-changes-to-sac-network">Latest changes to the UK SAC list</a> page on the JNCC website.</p>
</div>