@model JNCC.Microsite.SAC.Models.Data.SiteFeature
@using JNCC.Microsite.SAC.Website.Helpers

<div>
    <p><b>@(InterestFeatureHelpers.GetPlainIntegerCode(Model.Code))</b> <a href=@(InterestFeatureHelpers.GetFeatureUrl(Model.Code))>@(Model.LayTitle)</a>&nbsp; <b>@(Model.Name)</b>@(SiteHelpers.IsPriorityFeature(Model.Priority))</p>
    @if (Model.isPrimary) {
        if (!String.IsNullOrWhiteSpace(Model.PrimaryText)) {
            Html.Raw(String.Format("<p>{0}</p>", Model.PrimaryText));
        } else {
            Html.Raw("<p>Species occurrence description not yet available.</p>");
        }
    }
</div>